<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<hr>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2>Categorias</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>Dev Web</th>
            <th>dev-web</th>
            <th></th>
          </tr>
          <tr>
            <th>2</th>
            <th>Dev Javascript</th>
            <th>dev-web</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<%- include ("../../partials/footer.ejs") %>